# ========================
# IDE (USER SETTINGS)
# ========================
.vscode/
.idea/
*.code-workspace

# ========================
# RECORD / DATA
# ========================
3.Records/

# ========================
# STM32CubeIDE (2.Workspace)
# ========================
**/Debug/
**/Release/
**/.settings/
**/.metadata/

!**/.project
!**/.cproject
!**/*.ioc

# ========================
# KEIL MDK (4.Workspace)
# ========================
**/Objects/
**/Listings/

**/*.axf
**/*.crf
**/*.dep
**/*.lst
**/*.map

!**/*.uvprojx

**/*.uvoptx
**/*.uvgui.*

# ========================
# BUILD CHUNG
# ========================
**/build/
**/bin/
**/obj/
**/out/

**/*.o
**/*.a
**/*.so
**/*.elf
**/*.d

# ========================
# HTML / LOG
# ========================
**/*.htm
**/*.html
**/*.log

# ========================
# FIRMWARE OUTPUT
# ========================
**/*.hex
**/*.bin

# ========================
# ESP32 / ARDUINO
# ========================
5.ESP32/build/
**/*.ino.cpp
**/*.ino.elf

# ========================
# OS
# ========================
.DS_Store
Thumbs.db

# ========================
# OPTIONAL
# ========================
__pycache__/
*.pyc
node_modules/
dist/

# ========================
# SECRETS
# ========================
.env
*.key
*.pem